
    #block1 {
      display: flex;
      justify-content: center;
      flex-direction: row;
      background-color: white;
      border-radius: 8px;
      width: 650px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }

    #image1 {
      height: 500px;
      width: 400px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    body {
      background-color: #f3ebe4;
    }

    .h1 {
      color: hsl(0, 0%, 90%);
      margin-right:150px;
      font-size: 25px;
      
    }

    #block2 {
      text-align: center;
      margin-top: 10px;
    }strike{
        text-decoration: line-through;
        font-size:15px; 
        color:rgb(62, 62, 62);
       
    }
  #green{
   color:#73a793;
  }button{
    padding:15px 80px; 
    border:none;
    background-color:#73a793;
    color:white; 
    border-radius: 8px;
  }#h1{
    margin-right:120px;
  }